## Carga de datos

A continuación, se va a proceder a extraer la información que será objeto de estudio para el análisis.  
Para ello, se ha hecho uso de dos URLs:  
- El coste de vida se extraerá de la página https://es.numbeo.com/coste-de-vida/iniciar-p%C3%A1gina  
- La calidad de vida se extraerá de la página https://es.numbeo.com/calidad-de-vida/iniciar-p%C3%A1gina  

En ambos casos, se ha obtenido la información relativa a Europa.

### Coste de vida

In [2]:
import pandas as pd
import ssl
ssl._create_default_https_context = ssl._create_unverified_context
import lxml

inicio = 2009
fin = 2023  
 
df_cost = pd.DataFrame()

#Para cada año (i), se carga la tabla de coste de vida
 
for i in range(inicio, fin + 1):
    url = f"http://es.numbeo.com/coste-de-vida/clasificaciones?title={i}"
    df_temp_cost = pd.read_html(url)[1:][0]
    df_temp_cost['Año'] = i
    df_cost = df_cost.append(df_temp_cost, ignore_index=True)

/var/folders/8z/h0j8wm9n0wnflk1qyrnnps840000gn/T/ipykernel_19817/2602375967.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_cost = df_cost.append(df_temp_cost, ignore_index=True)
/var/folders/8z/h0j8wm9n0wnflk1qyrnnps840000gn/T/ipykernel_19817/2602375967.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_cost = df_cost.append(df_temp_cost, ignore_index=True)
/var/folders/8z/h0j8wm9n0wnflk1qyrnnps840000gn/T/ipykernel_19817/2602375967.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_cost = df_cost.append(df_temp_cost, ignore_index=True)
/var/folders/8z/h0j8wm9n0wnflk1qyrnnps840000gn/T/ipykernel_19817/2602375967.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_cost = df_cost.append(df_temp_cost, ignore_index=True)
/var/folders/8z/h0j8wm9n0wnflk1qyrnnps840000gn/T/ipykernel_19817/2602375967.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_cost = df_cost.append(df_temp_cost, ignore_index=True)
/var/folders/8z/h0j8wm9n0wnflk1qyrnnps840000gn/T/ipykernel_19817/2602375967.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_cost = df_cost.append(df_temp_cost, ignore_index=True)
/var/folders/8z/h0j8wm9n0wnflk1qyrnnps840000gn/T/ipykernel_19817/2602375967.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_cost = df_cost.append(df_temp_cost, ignore_index=True)
/var/folders/8z/h0j8wm9n0wnflk1qyrnnps840000gn/T/ipykernel_19817/2602375967.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_cost = df_cost.append(df_temp_cost, ignore_index=True)
/var/folders/8z/h0j8wm9n0wnflk1qyrnnps840000gn/T/ipykernel_19817/2602375967.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_cost = df_cost.append(df_temp_cost, ignore_index=True)
/var/folders/8z/h0j8wm9n0wnflk1qyrnnps840000gn/T/ipykernel_19817/2602375967.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_cost = df_cost.append(df_temp_cost, ignore_index=True)
/var/folders/8z/h0j8wm9n0wnflk1qyrnnps840000gn/T/ipykernel_19817/2602375967.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_cost = df_cost.append(df_temp_cost, ignore_index=True)
/var/folders/8z/h0j8wm9n0wnflk1qyrnnps840000gn/T/ipykernel_19817/2602375967.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_cost = df_cost.append(df_temp_cost, ignore_index=True)
/var/folders/8z/h0j8wm9n0wnflk1qyrnnps840000gn/T/ipykernel_19817/2602375967.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_cost = df_cost.append(df_temp_cost, ignore_index=True)
/var/folders/8z/h0j8wm9n0wnflk1qyrnnps840000gn/T/ipykernel_19817/2602375967.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_cost = df_cost.append(df_temp_cost, ignore_index=True)
/var/folders/8z/h0j8wm9n0wnflk1qyrnnps840000gn/T/ipykernel_19817/2602375967.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_cost = df_cost.append(df_temp_cost, ignore_index=True)

In [3]:
df_cost

,Puesto,Ciudad,Índice de Costo de Vida,Índice de Alquiler,Índice de Costo de Vida más Alquiler,Índice de Comestibles,Índice de Precios en Restaurantes,Índice de Poder Adquisitivo Local,Año
0,NaN,"París, Francia",12782,9639,11535,11705,11653,3938,2009
1,NaN,"Dublín, Irlanda",12660,8758,11112,15451,13156,5925,2009
2,NaN,"Bruselas, Bélgica",11753,7877,10216,11088,10756,5558,2009
3,NaN,"Berlín, Alemania",11525,3296,8261,9027,7919,5858,2009
4,NaN,"Estocolmo, Suecia",11248,2999,7975,9895,8525,6387,2009
...,...,...,...,...,...,...,...,...,...
5994,NaN,"Bucaramanga, Colombia",1957,457,1238,1612,1356,3133,2023
5995,NaN,"Rawalpindi, Pakistán",1638,289,992,1474,1255,2792,2023
5996,NaN,"Faisalabad, Pakistán",1608,276,970,1197,1047,3252,2023
5997,NaN,"Multan, Pakistán",1558,253,932,1512,1101,2189,2023
5998,NaN,"Peshawar, Pakistán",1509,161,863,1299,1100,2764,2023

In [4]:
#Guardamos el dataframe en un csv, dentro la carpeta input
df_cost.to_csv('inputs/costo_de_vida.csv', index=False)

### Calidad de vida

Para extraer todos los datos de la calidad de vida, se han tenido que dividir los ficheros por años ya que la URL para los años 2012 y 2013 es diferente que para los años 2014 en adelante.

In [5]:
import pandas as pd
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

inicio = 2012
fin = 2013 
 
df_quality_1 = pd.DataFrame()
 
#Para cada año (i), se carga la tabla de calidad de vida
for i in range(inicio, fin + 1):
    url = f"https://es.numbeo.com/calidad-de-vida/clasificaciones?title={i}-Q1"
    df_temp_quality_1 = pd.read_html(url)[1:][0]
    df_temp_quality_1['Año'] = i
    df_quality_1 = df_quality_1.append(df_temp_quality_1, ignore_index=True)

/var/folders/8z/h0j8wm9n0wnflk1qyrnnps840000gn/T/ipykernel_19817/2661726438.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_quality_1 = df_quality_1.append(df_temp_quality_1, ignore_index=True)
/var/folders/8z/h0j8wm9n0wnflk1qyrnnps840000gn/T/ipykernel_19817/2661726438.py:15: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_quality_1 = df_quality_1.append(df_temp_quality_1, ignore_index=True)

In [6]:
df_quality_1

,Puesto,Ciudad,Índice de Calidad de Vida,Índice de Poder Adquisitivo,Índice de Seguridad,Índice de Sanidad,Índice de Costo de Vida,Relación Precio/Ingresos para Propiedades,Índice de Tiempo de Desplazamiento en Tráfico,Índice de Contaminación,Índice de Clima,Año
0,NaN,"Berlín, Alemania",21525,14062,7734,6481,8906,574,2300,4000,-,2012
1,NaN,"Zúrich, Suiza",21318,13631,8385,7778,16607,827,2733,2650,-,2012
2,NaN,"Edmonton, Canadá",20486,12469,5898,7889,11210,359,3533,2125,-,2012
3,NaN,"Perth, Australia",19600,11834,4875,8704,14218,524,2700,1500,-,2012
4,NaN,"Calgary, Canadá",19078,12425,7188,7042,11171,458,6200,2508,-,2012
...,...,...,...,...,...,...,...,...,...,...,...,...
156,NaN,"El Cairo, Egipto",-824,2160,5119,5648,4517,1335,5875,9636,-,2013
157,NaN,"Yakarta, Indonesia",-1303,3165,5173,3833,5801,1493,5625,9806,-,2013
158,NaN,"Teherán, Irán",-1701,3290,4584,4398,6152,1929,6100,8990,-,2013
159,NaN,"Manila, Filipinas",-2057,2665,3364,8056,4794,2816,5400,8483,-,2013
160,NaN,"Caracas, Venezuela",-3418,2423,1430,4444,11512,1679,3875,8038,-,2013

In [7]:
import pandas as pd
import ssl
ssl._create_default_https_context = ssl._create_unverified_context

inicio = 2014
fin = 2023
 
df_quality_2 = pd.DataFrame()
 
for i in range(inicio, fin + 1):
    url = f"https://es.numbeo.com/calidad-de-vida/clasificaciones?title={i}"
    df_temp_quality_2 = pd.read_html(url)[1:][0]
    df_temp_quality_2['Año'] = i
    df_quality_2 = df_quality_2.append(df_temp_quality_2, ignore_index=True)

/var/folders/8z/h0j8wm9n0wnflk1qyrnnps840000gn/T/ipykernel_19817/2404779081.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_quality_2 = df_quality_2.append(df_temp_quality_2, ignore_index=True)
/var/folders/8z/h0j8wm9n0wnflk1qyrnnps840000gn/T/ipykernel_19817/2404779081.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_quality_2 = df_quality_2.append(df_temp_quality_2, ignore_index=True)
/var/folders/8z/h0j8wm9n0wnflk1qyrnnps840000gn/T/ipykernel_19817/2404779081.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_quality_2 = df_quality_2.append(df_temp_quality_2, ignore_index=True)
/var/folders/8z/h0j8wm9n0wnflk1qyrnnps840000gn/T/ipykernel_19817/2404779081.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_quality_2 = df_quality_2.append(df_temp_quality_2, ignore_index=True)
/var/folders/8z/h0j8wm9n0wnflk1qyrnnps840000gn/T/ipykernel_19817/2404779081.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_quality_2 = df_quality_2.append(df_temp_quality_2, ignore_index=True)
/var/folders/8z/h0j8wm9n0wnflk1qyrnnps840000gn/T/ipykernel_19817/2404779081.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_quality_2 = df_quality_2.append(df_temp_quality_2, ignore_index=True)
/var/folders/8z/h0j8wm9n0wnflk1qyrnnps840000gn/T/ipykernel_19817/2404779081.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_quality_2 = df_quality_2.append(df_temp_quality_2, ignore_index=True)
/var/folders/8z/h0j8wm9n0wnflk1qyrnnps840000gn/T/ipykernel_19817/2404779081.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_quality_2 = df_quality_2.append(df_temp_quality_2, ignore_index=True)
/var/folders/8z/h0j8wm9n0wnflk1qyrnnps840000gn/T/ipykernel_19817/2404779081.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_quality_2 = df_quality_2.append(df_temp_quality_2, ignore_index=True)
/var/folders/8z/h0j8wm9n0wnflk1qyrnnps840000gn/T/ipykernel_19817/2404779081.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_quality_2 = df_quality_2.append(df_temp_quality_2, ignore_index=True)

In [8]:
df_quality_2

,Puesto,Ciudad,Índice de Calidad de Vida,Índice de Poder Adquisitivo,Índice de Seguridad,Índice de Sanidad,Índice de Costo de Vida,Relación Precio/Ingresos para Propiedades,Índice de Tiempo de Desplazamiento en Tráfico,Índice de Contaminación,Índice de Clima,Año
0,NaN,"Canberra, Australia",23698,13266,6447,8185,10265,463,1080,1476,-,2014
1,NaN,"Ottawa, Canadá",21877,13188,7609,6864,8615,490,4000,2246,-,2014
2,NaN,"Fráncfort del Óder, Alemania",21497,13918,7248,6310,9657,507,2875,3129,-,2014
3,NaN,"Zúrich, Suiza",20821,12464,7890,7561,15747,869,2480,1714,-,2014
4,NaN,"Denver, Colorado, Estados Unidos",20594,13398,6040,8259,8210,181,4333,3793,-,2014
...,...,...,...,...,...,...,...,...,...,...,...,...
1945,NaN,"Teherán, Irán",6160,1891,4408,5265,3325,2897,5291,8096,7099,2023
1946,NaN,"Daca, Bangladés",5746,2590,3682,4014,2956,1537,6097,9347,7129,2023
1947,NaN,"Beirut, Líbano",5677,1008,5366,6515,8033,4132,3982,9372,9474,2023
1948,NaN,"Lagos, Nigeria",4839,763,3248,4635,3876,1220,6822,8926,6075,2023
1949,NaN,"Manila, Filipinas",4497,2484,3459,6371,3790,3760,5364,8992,6123,2023

Igualmente, debido a que el mayor volumen de información que se ha observado se da en los años 2014 en adelante, solo vamos a guardar el fichero que contiene estos años, ya que se asume que es un horizonte temporal suficiente y así disponemos de la máxima información posible para todas las capitales.

In [9]:
#Guardamos en csv el dataframe que vamos a usar, dentro de inputs
df_quality_2.to_csv('inputs/calidad_de_vida.csv', index=False)